.hidden {
  display: none;
}
.img-responsive {
  width: 100%;
  /* Align inner flex-items horizontally within the column  */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
/*  align-items: center;*/
  justify-content: center;
}
#print-history {
  position: relative;
  bottom: -1px;
}
#print-gif {
  margin-top: 100px;
}
.nav-hisxtory {
  bottom: -1px;
}
#print-history>ul>li {
  bottom: 1px;
}



/* General */
  body {
    background-color: #666;
  }

/* Navbar */
  .navbar {
    border-radius: 0;
    border-bottom: 1px solid #888888;
    min-height: 107px;
  }
  .navbar-inverse {
    background-color: black;
  }
  /* Logo */
  .navbar-brand {
    padding: 0;
    margin: 0;
  }
  .navbar-brand>img {
    max-height: 133%;
    height: 133%;
    width: auto;
    margin: 0 auto;
    -o-object-fit: contain;
    object-fit: contain;
   /* probably not needed anymore, but doesn't hurt */
   -o-object-fit: contain;
   object-fit: contain;
  }
  #header-img {
    width: 100%;
  }

/* Form */
  .form-control {
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .5s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .5s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .5s,box-shadow ease-in-out .15s;
  }
  select.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }
  select.minimal:focus {
    background-image:
      linear-gradient(45deg, blue 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, blue 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
  }
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  #rating-input {
    width: 100px;
  }
  #limit-input {
    width: 170px;
  }

/* Folder Tabs */
  .nav-tabs {
    border-bottom: 0px;
  }
  /* tab color */
  .nav-tabs>li>a {
    background-color: #333333;
    border-color: #777777;
    color:#fff;
    border: 1px solid #888888;
    border-bottom: 0px;
    padding-bottom: 9px;
  }
  /* active tab color */
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #666;
    border: 1px solid #888888;
    border-bottom: 0px;
    padding-bottom: 10px;
  }
  /* hover tab color (same style as active) */
  .nav-tabs>li>a:hover {
    color: #fff;
    background-color: #666;
    border: 1px solid #888888;
    border-bottom: 0px;
    padding-bottom: 9px;
  }

/* Content */
  .col-xs-4 {
    padding: 0;
  }
  .panel {
    margin-bottom: 0;
    border-color: #888;
  }
  .thumbnail {
  }
  .thumbnail>img{
    border-radius: 4px;
  }
  .thumbnail {
    background-color: #666666;
    border: 0;
    border-color: #666666;
  }

/* Row with equal height columns*/
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .vertical-align {
    display: flex;
    flex-direction: row;
  }
  .vertical-align > [class^="col-"],
  .vertical-align > [class*=" col-"] {
    display: flex;
    /* Align the flex-items vertically */
    align-items: center;
    /* Align inner flex-items horizontally within the column  */
    justify-content: center;
  }

/* Pagination */
  /* General */
  .pagination>li>a, .pagination>li>span {
    color: #ffffff;
    background-color: #666;
    border: 0;
    border-radius: 4px;
  }
  /* Active Page */
  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff;
    background-color: #333333;
  }
  /* None active page interact */
  .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #333333;
    background-color: #eee;
    border-color: #ddd;
  }
  /* Disabled pagination */
  .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #ffffff;
    background-color: #666;
    border: 0;
  }

/* Media Queries */
  /* <= */
  	/* Laptops 991px */
  	    @media screen and (max-width : 991px) {
  	    	.hide-md {
  	    		display: none;
  	    	}
  	    }
      /* Tablets 768px */ 
  	    @media screen and (max-width : 768px) {
  	    	.hide-sm {
  	    		display: none;
  	    	}
      /* Phones 640px */ 
  	    @media screen and (max-width : 640px) {
  	    	.hide-xs {
      			display: none;
      		}
  	    }
  /* >= */
  	/* Laptops 991px */
  	    @media screen and (min-width : 991px) {}
  	/* Tablets 768px */ 
      	@media screen and (min-width : 768px) {}
      /* Phones 640px */ 
      	@media screen and (min-width : 640px) {}